<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.edu.dao.UserMapper">
    <insert id="insert" parameterType="com.edu.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into user (name,sex,age,address,number,idCard)
        values
         (#{name},#{sex},#{age},#{address},#{number},#{IDCard})
    </insert>
    <select id="findAll" parameterType="com.edu.util.Page" resultType="com.edu.domain.User">
        select * from user where name like concat("%",#{query},"%")
    </select>

    <select id="findBySex" parameterType="com.edu.util.Page" resultType="com.edu.domain.User">
        select * from user where sex = #{query.sex}
    </select>

</mapper>